@model Hack.Models.ViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    @*<form class="js-form hidden formggwp ">

            <label>
                <button class="ghost-button send">ok</button>
            </label>
        </form>*@
    @using (Ajax.BeginForm("ShowResult", "Home", null, new AjaxOptions
    {
        HttpMethod = "GET",
        UpdateTargetId = "ShowText"

    }, new { @class = "js-form hidden formggwp" }))
    {
        @Html.DropDownListFor(m => m.SpotId, Model.spots as SelectList, new { @class = "tt mr-2" })
        @Html.DropDownListFor(m => m.SurfaceId, Model.surfaces as SelectList, new { @class = "tt mr-2" })

        <input type="submit" value="Подтвердить" class="btn btn-outline-light mb-2 btn-sm" />
    }
    <div id="ShowText">
        @Html.Partial("ShowResult")
    </div>
</div>
